body {
    background-color: white;
    padding:0 !important;
    margin:0 !important;
}

#header{
    background-image: url(/public/assets/img/bg.jpg);
    height:630px;
    width: 100%;
    object-fit: cover;
}

#header div div h1{
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    border-radius: 25px;
}

#separator{
    height: 50px;
}

#header div div h3{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 25px;
}

a{
    color: ivory;
}
